.layout {
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  /* margin-top: 70px; */
}

.left {
  background: #f2f2f2;
  min-height: 100vh;
}

.center {
  padding: 20px;
  background: white;
}

.right {
  background: #f2f2f2;
  min-height: 100vh;
}