.layout {
  display: flex;
  width: 100%;
}

/* Left Sidebar */
.left {
  width: 20%;
  background: #f4f4f4;
}

/* Center Content */
.center {
  flex: 1;
  padding: 20px;
  width: 60%;
  padding: 10px;
  overflow: hidden;   /* 🔥 THIS FIXES YOUR PROBLEM */
}

/* Right Sidebar */
.right {
  width: 20%;
}