.home-content {
  padding: 20px;
}

/* Hero */
.hero {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to right, #1e5bb8, #4da3ff);
  color: white;
  border-radius: 10px;
}
/* Notice */
.notice-bar {
  background: #ffefef;
  color: red;
  padding: 10px;
  font-weight: bold;
  border: 1px solid red;
  margin-bottom: 20px;
}

.hero-buttons button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  background: white;
  color: #1e5bb8;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-buttons button:hover {
  transform: scale(1.1);
}

/* Features */
.features {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}
.home-title {
  margin: 35px 0 20px;
  font-size: 28px;
  color: #003366;
}

/* Success */
.success-banner {
  margin-top: 40px;
  background: linear-gradient(to right,#00b09b,#96c93d);
  color: white;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success-banner button {
  padding: 12px 18px;
  border: none;
  background: white;
  color: #00b09b;
  border-radius: 8px;
  font-weight: bold;
}